{% extends "blog/base.html" %}
{% load staticfiles %}
{% load static %}
{% block title %}信息查询{% endblock %}

{% block content %}

    <div class="page-header">
				<h1>
					&emsp;&emsp;&emsp;&emsp;信息查询 <small>——房屋信息的综合查询</small>
				</h1>
			</div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-2">
                    <div class="list-group" >
                        <a href="{% url 'search_data' %}" class="list-group-item active"  id="id_city_all">
                            全部房源
                        </a>
                        {% for city in city_list %}
                            <a href="{% url 'search_data' %}?city={{ city }}" class="list-group-item "
                               id="id_city_{{ city }}">
                                {{ city }}
                            </a>
                        {% endfor %}
                    </div>
                    <script type="text/javascript">
                        $('#id_city_{{ query_city }}').addClass("active");
                    </script>
                </div>
                <div class="col-md-9 col-md-offset-1 ">
                    <div class="col-md-4 col-md-offset-8">
                        <form role="form" method="post" name="search_form">
                            {% csrf_token %}
                            <input type="search" class="form-control" name="keyword"
                                   placeholder="输入城市\价格查询相关信息" id="id_search_input" onkeyup="key_up()"
                                   autofocus>
                        </form>
                    </div>
                    <script type="text/javascript">
                        function key_up() {
                            var old_value = $('#id_search_input').val();
                            setTimeout(function () {
                                var new_value = $('#id_search_input').val();
                                if (old_value == new_value) {
                                    document.search_form.submit();
                                }
                            }, 1500);
                        }
                    </script>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>房屋名称</th>
                            <th style="width: 8%">城市</th>
                            <th>价格</th>
                            <th>面积</th>
                            <th style="width: 12%">居住人数</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for house in house_list %}
                            <tr >
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'detail'  %}?id={{ house.id }}">{{ house.name }}</a></td>
                                <td >{{ house.city }}</td>
                                <td>{{ house.price }}</td>
                                <td>{{ house.area }}</td>
                                <td>{{ house.numofman }}</td>

                            </tr>
                        {% empty %}
                            <tr>
                                <td>暂无相关信息</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pager">
                            {% if house_list.has_previous %}
                                <li class="previous"><a
                                        href="?typ={{ query_city }}&page={{ house_list.previous_page_number }}">上一页</a>
                                </li>
                            {% else %}
                                <li class="previous disabled"><a href="#">上一页</a></li>
                            {% endif %}
                            第 {{ house_list.number }} / {{ house_list.paginator.num_pages }}页
                            {% if house_list.has_next %}
                                <li class="next"><a
                                        href="?typ={{ query_city }}&page={{ house_list.next_page_number }}">下一页</a>
                                </li>
                            {% else %}
                                <li class="next disabled"><a href="#">下一页</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


{% endblock %}